.App {
  text-align: center;
}

.imgji{
  vertical-align: middle;
  padding: 10px;
}
.btn{
  background-color: lightgray;
}
.h-zigzag {
  margin-bottom: 100px !important;
  height:300px;
  width:100%;
  background:
      linear-gradient(-135deg, #13A89E 5px, transparent 0) 0 5px,
      linear-gradient(135deg, #13A89E 5px, #fff 0) 0 5px;
  background-color: #13A89E;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;

}
#loginBtn{
  background-color: blue;
  border: none;
  border-radius: 5px;
}
#loginBtn:hover{
  opacity: 0.6;
}
.h1{
  text-align: center;
  color: white;
}
.detail{
  background-color: #13A89E;
  height: 70px;
}
.detail1{
margin-left: 1330px;
width: 250px;
height: 60px;
background-color:  white;
border-radius:  10px;
}
.effect1{
  -webkit-box-shadow: 0 10px 26px -6px #777;
     -moz-box-shadow: 0 10px 26px -6px #777;
          box-shadow: 0 10px 26px -6px #777;
          width: 750px;
          height: 450px;
          margin-left: 450px;
          margin-top: 100px;
}
.span{
  font-size: 20px;
  font-weight: bold;
 line-height:  40px;

}
.nav-wrapper{
  background-color: #13A89E;
  color: white;
}
.a1{
  font-size: 33px;
  margin-left:  -1400px !important;
}
.lable1{
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.quizcenterdiv{
  -webkit-box-shadow: 0 10px 26px -6px #777;
     -moz-box-shadow: 0 10px 26px -6px #777;
          box-shadow: 0 10px 26px -6px #777;
          width: 800px;
          height: 400px;
          margin-left: 450px;
          margin-top: 100px;
}
.waves-effect{
  background-color: #13A89E;
  
}
.gap{
  margin-left: -500px !important;
}
.radio{
text-align: start;
padding-left:  20px;
}

.radiodiv{
  height: 200px;
}
.questiondiv{
height: 40px;
}